manifest {
    name            = 'nf-binder-design'
    author          = """Andrew Perry"""
    homePage        = 'https://github.com/Australian-Protein-Design-Initiative/nf-binder-design'
    description     = """Protein binder design pipeline"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '0.1.3'
    defaultBranch   = 'main'
    // doi             = 'TBD'
}

params {
    models_basepath = "${projectDir}/models"
}

process {
    executor = 'slurm'
    stageInMode = 'symlink'
    // errorStrategy = 'retry'
    maxRetries = 0
    cache = 'lenient'

    withName: GET_CONTIGS {
        //container = params.containers.get_contigs
        executor = 'local'
    }

    withName: RENUMBER_RESIDUES {
        //container = params.containers.renumber_residues
        executor = 'local'
    }

    withName: FILTER_DESIGNS {
        executor = 'local'
    }

    withName: COMBINE_SCORES {
        //container = params.containers.combine_scores
        executor = 'local'
    }

    withName: RFDIFFUSION {
        //container = params.containers.rfdiffusion
        accelerator = 1
        time = 24.hours

        memory = '8g' // '8g' is probably enough
        cpus = 2
    }

    withName: RFDIFFUSION_PARTIAL {
        //container = params.containers.rfdiffusion
        accelerator = 1
        time = 24.hours

        memory = '8g' // '8g' is probably enough
        cpus = 2
    }
    
    withName: DL_BINDER_DESIGN_PROTEINMPNN {
        //container = params.containers.dl_binder_design_proteinmpnn
        
        // Since this is effectively CPU only and quick, we probably can also just
        // run it on the local node
        //accelerator = 1


        time = 30.minutes
        memory = '4g'
        cpus = 1
    }
    
    withName: AF2_INITIAL_GUESS {
        //container = params.containers.af2_initial_guess

        accelerator = 1
        time = 30.minutes
        memory = '16g'
        cpus = 4
    }

    withName: CREATE_BOLTZ_YAML {
        executor = 'local'
    }

    withName: PARSE_BOLTZ_CONFIDENCE_JSON {
        executor = 'local'
    }

    withName: MMSEQS_COLABFOLDSEARCH {
        time = 4.hours
        memory = '32g'
        cpus = 8
    }

    withName: BOLTZ {
        accelerator = 1
        time = 2.hours
        memory = '8g'
        cpus = 2
        
        // if using CPU only
        // ext.args = "--accelerator cpu"
    }
}

// Apptainer specific settings
apptainer {
    enabled = true
    autoMounts = true
    pullTimeout = 3.hours
    // --nv to enable NVIDIA GPU support
    runOptions = '--nv --cleanenv'
    // runOptions = '--nv -B ${projectDir}/models/af2_initial_guess:/app/dl_binder_design/af2_initial_guess/model_weights'
}

docker {
    // --gpus all to enable NVIDIA GPU support
    // enabled = true
    runOptions = '--gpus all'
}

profiles {
    local {
        executor {
            name = 'local'
            queueSize = 32
            pollInterval = '30 sec'
        }
        process {
            executor = 'local'
            stageInMode = 'symlink'
            maxRetries = 0
            cache = 'lenient'
        }
    }
    slurm {
        executor {
            name = 'slurm'
            queueSize = 900
            pollInterval = '30 sec'
            queueStatInterval = '10m'
        }
        process {
            executor = 'slurm'
            stageInMode = 'symlink'
            // errorStrategy = 'retry'
            maxRetries = 0
            cache = 'lenient'
        }
    }
    hq {
        executor {
            name = 'hq'
            queueSize = 900
            pollInterval = '5 sec'
        }
        process {
            executor = 'hq'
            stageInMode = 'symlink'
            maxRetries = 0
            cache = 'lenient'
        }
    }
}
