// AF2 MULTIMER on M3 needs the 2021 DB snapshot (alphafold_20211129) for uniprot/
// + pdb_seqres/. Weights (multimer_v3) come from the 20240229 snapshot.
params.af2_db_path = '/mnt/datasets/alphafold/alphafold_20211129'
params.af2_uniref30_subpath = 'uniclust30/uniclust30_2018_08/uniclust30_2018_08'
params.af2_mgnify_subpath = 'mgnify/mgy_clusters_2018_12.fa'
params.af2_uniprot_subpath = 'uniprot/uniprot.fasta'
params.af2_pdb_seqres_subpath = 'pdb_seqres/pdb_seqres.txt'
params.af2_data_dir = '/mnt/datasets/alphafold/alphafold_20240229'

apptainer {
    runOptions = "--nv --cleanenv --env PYTHONNOUSERSITE=1 -B \$HOME -B /scratch2 -B /fs04 -B /mnt/datasets/alphafold -B /mnt/reference/alphafold"
}
