profiles {
    local {
        executor {
            name = 'local'
            
            // We only run one task at a time, so the GPU only gets one task at a time.
            // This slightly bottlenecks the ProteinMPNN step (which might be able to run
            // many processes in parallel on CPU), but doesn't have a large impact overall.
            queueSize = 1
            pollInterval = '30 sec'
        }
        process {
            executor = 'local'
            stageInMode = 'symlink'
            maxRetries = 0
            cache = 'lenient'
        }
    }
}
