profiles {
    local {
        executor {
            name = 'local'

            pollInterval = '30 sec'
            queueSize = 1
        }
        process {
            executor = 'local'
            stageInMode = 'symlink'
            maxRetries = 0
            cache = 'lenient'
        }
    }
}
