profiles {
    local {
        executor {
            name = 'local'
            queueSize = 1000
            pollInterval = '30 sec'
            submitRateLimit = '1/10sec'
        }
        process {
            executor = 'local'
            stageInMode = 'symlink'
            maxRetries = 3
            cache = 'lenient'

            withName: /^(GERMINAL|GERMINAL_PROCESS)$/ {
                if (params.gpu_devices) {
                    maxForks = params.gpu_devices.split(',').size()
                }
            }
        }
    }
}
