profiles {
    local {
        executor {
            name = 'local'
            queueSize = 1000
            pollInterval = '30 sec'
            // We can't submit tasks too quickly or our internal GPU allocation 
            // via find_available_gpu.py will fail.
            submitRateLimit = '1/10sec'
        }
        process {
            executor = 'local'
            stageInMode = 'symlink'
            // We retry on failure to catch occasional cases where the process fails due to OOM,
            // as a result of a failure to allocate a dedicated GPU to the task.
            maxRetries = 3
            cache = 'lenient'


            withName: RFDIFFUSION {
                if (params.gpu_devices) {
                    maxForks = params.gpu_devices.split(',').size()
                }
            }
            withName: RFDIFFUSION_PARTIAL {
                if (params.gpu_devices) {
                    maxForks = params.gpu_devices.split(',').size()
                }
            }
            withName: AF2_INITIAL_GUESS {
                if (params.gpu_devices) {
                    maxForks = params.gpu_devices.split(',').size()
                }
            }
            withName: BINDCRAFT {
                if (params.gpu_devices) {
                    maxForks = params.gpu_devices.split(',').size()
                }
            }
            withName: BOLTZ {
                if (params.gpu_devices) {
                    maxForks = params.gpu_devices.split(',').size()
                }
            }
        }
    }
}
